#sobre {
    background-color: #f8f7ff;
    padding: 100px 20px;
    text-align: center;
}
.limitar-secao .descricao {
    line-height: 32px;
}
.limitar-secao .cards-descricao {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.limitar-secao .cards-descricao img, .limitar-secao .cards-descricao div {
    width: 50%;
    height: 300px;
    border: 1px solid #a2adad;
}
.limitar-secao .cards-descricao img {
    object-fit: cover;
}
.limitar-secao .cards-descricao div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 25px;
}
.limitar-secao .cards-descricao div .subtitulo {
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Anybody', cursive;
    letter-spacing: 5px;
    line-height: 42px;
}
.limitar-secao .cards-descricao div p {
    font-size: 22px;
    color: #4a4a4a;

}

@media (max-width: 768px) {
    #sobre {
        padding: 60px 20px;
    }
    .limitar-secao .cards-descricao  {
        padding: 15px;
    }
    .limitar-secao .cards-descricao div .subtitulo {
        font-size: 22px;
    }
    .limitar-secao .cards-descricao div p {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    #sobre {
        padding: 0 10px;
    }
    .limitar-secao .cards-descricao {
        flex-direction: column;
    }
    .limitar-secao .cards-descricao img, .limitar-secao .cards-descricao div {
        height: 300px;
        width: 100%;
    }
}